<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(${post.title})" ></head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<section data-section="posts" style="background-color: #52d3aa">
    <div class="gradient"></div>
    <div class="container">
        <h1 style="color: #ffffff" th:text="${post.title}"></h1>

        <div class="posts" th:object="${post}">
            <h2 th:text="*{title}">Title</h2>
            <p th:text="'Posted By ' + *{user.username}"></p>
            <p>Posted <span th:text="*{createAt}" class="date"></span></p>
            <p>Last updated <span th:text="*{updateAt}" class="date"></span></p>
            <div>Body:</div>
            <p th:text="*{body}">Body</p>
            <a th:if="${belongsToUser}" th:href="@{'/posts/edit/' + *{id}}" class="btn btn-default">Edit Post</a>
            <a th:if="${belongsToUser}" th:href="#" class="btn btn-danger" id="delete-btn">Delete Post</a>
            <form th:if="${belongsToUser}" th:action="@{'/posts/delete/' + ${id}}" method="post" id="delete-form"></form>
        </div>


    </div>

    <div class="slant"></div>
</section>



<div th:replace="fragments/js-scripts :: scripts"></div>

</body>

</html>