<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title th:text="${title}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Reddit Clone" />
    <meta name="keywords" content="Blog" />
    <meta name="author" content="Ben Roberts, Michael Roberts, Michael Benjamin Roberts, Mike Roberts, M. Benjamin Roberts" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Reddit Clone" />
    <meta property="og:image" content="https://mbenroberts.com/images/profile.png" />
    <meta property="og:url" content="https://mbenroberts.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content="Reddit Clone" />
    <meta name="twitter:image" content="https://mbenroberts.com/images/profile.png" />
    <meta name="twitter:url" content="https://mbenroberts.com" />
    <meta name="twitter:card" content="summary" />

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css' />

    <!-- Animate.css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" th:href="@{/css/icomoon.css}" />
    <!-- Simple Line Icons -->
    <link rel="stylesheet" th:href="@{/css/simple-line-icons.css}" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" />
    <!--Bootstrap Core CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
    <!--Custom CSS-->
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>

</head>

<body>
</body>
</html>