<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(${user.username})" ></head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<section data-section="posts" style="background-color: #52d3aa">

    <div class="gradient"></div>

    <div class="container">

        <div class="posts" th:object="${user}">
            <h2 th:text="*{username}">Title</h2>

            <a th:href="@{'/posts/edit/' + *{id}}" class="btn btn-default">Edit Post</a>
        </div>

    </div>

    <div class="slant"></div>

</section>



<div th:replace="fragments/js-scripts :: scripts"></div>

</body>

</html>